*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
nav{
    background-color: rgb(49, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav h1{
margin-left: 50px;
}

nav #links{
    margin-right: 50px;
}


a{
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: #fff;

}

a:hover{
    background-color: rgb(29, 25, 25);
    
}

a:visited{
    color: white;
}

a:hover{
    color: orange;
}

nav h1{
    color: white;
}

#imgback{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('imgs/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 870px;
    }

    .imgtext{
        width: 100%;
        text-align: center;
    }

    .imgtext p{
    color: white;
    font-size: 18px;
    }

.enjoy{
    color: white;
}


    .enjoy span{
        color: orange;
    }



    .imgbutton{
        background-color:rgb(49, 47, 47) ;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
    }

    .enjoy{
        font-size: 50px;
    }

    #twocolumn{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .imgcube{
        background-image: url('imgs/photo-1.jpg');
        background-repeat: no-repeat;
   
    height: 350px;
    
    width: 50%;
    }

    .wordcube{
        width: 50%;
        text-align: center;
        background-color: rgb(49, 47, 47);
    }

    .wordcube h3{
        color: white;
        margin-top: 83px;
        font-size: 22px;
    }

    .wordcube p{
        color: white;
        margin-bottom: 40px;
        font-size: 19px;
    }

    .orange{
        color: orange;
    }

   .wordcube .imgbutton2 {
        background-color:#fff;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        color: black;
        margin-top: 10px;
    }

    


    @media screen and (min-width:1024px) {
        
        
        
        .wordcube p{
            width: 75%;
            margin: auto;
            margin-bottom: 40px;
        }
    }

