*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
nav{
    background-color: rgb(49, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav h1{
margin-left: 50px;
}

nav #links{
    margin-right: 50px;
}


a{
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: #fff;

}

a:hover{
    background-color: rgb(29, 25, 25);
    
}

a:visited{
    color: white;
}

a:hover{
    color: orange;
}

.currentpage{
    color: orange !important;
    background-color:rgb(29, 25, 25) ;
}

nav h1{
    color: white;
}

#imgback{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('imgs/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 870px;
    }

    .imgtext{
        width: 100%;
        text-align: center;
    }

    .imgtext p{
    color: white;
    font-size: 18px;
    }

.enjoy{
    color: white;
}


    .enjoy span{
        color: orange;
    }



    .imgbutton{
        background-color:rgb(49, 47, 47) ;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
    }

    .enjoy{
        font-size: 50px;
    }

    #twocolumn{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(49, 47, 47);
        
    }

    .imgcube{
        background-image: url('imgs/photo-1.jpg');
        background-repeat: no-repeat;
   height: 350px;
  width: 50%;
    }

    .wordcube{
        
        text-align: center;
        width: 500px;
        margin: auto;
       
        
      
    }

    .wordcube h3{
        color: white;
       
        font-size: 22px;
    }

    .wordcube p{
        color: white;
        margin-bottom: 40px;
        font-size: 19px;
    }

    .orange{
        color: orange;
    }

   .wordcube .imgbutton2 {
        background-color:#fff;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        color: black;
        position: relative;
        top: -15px;
        
       
        
    }

    #threecolumn{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .column{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        text-align: center;
        padding: 60px;
    }

    .column h3{
        margin-top: 10px;
    }

    .middle{
        background-color: rgb(233, 159, 23);
    }





    footer{
        text-align: center;
        background-color:rgb(49, 47, 47);
        color: #fff;
    }


  @media screen and (max-width:600px){
      nav{
          flex-direction: column;
      }

      nav h1{
          text-align: center;
          margin-left: 0px;

      }

      a{
          padding: 30px  100px;
      }


      #links{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    nav #links{
        margin-right: 0px;
    }

.wordcube{
    width: auto;
}

#threecolumn{
    flex-direction: column;
}

.column{
    width: 100%;
}



  }  
    
@media screen and (max-width:827px){
    #twocolumn{
        flex-direction: column;
        text-align: center;
    }

  

    .wordcube{
order: 2;
margin-bottom: 20px;

    }

.imgcube{
order: 99;
width: 100%;
    }
}


#about_section1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.words{
    width: 400px;
    
    
}

.words h1{
    font-size: 35px;
}

.words p{
    line-height: 1.5em;
    font-size: 15px;
}

.roundpicture{
    width: 300px;
    height: 250px;
    background-image: url('imgs/photo-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-self: center;
    
}



 
